body{
    background: #241E1E;
}

p{
    font-family: 'Raleway', sans-serif;
}

a{
    margin-right: 0;
}

.nav-item{
    
    padding-left:20px;
}
.paragraphs{
    background: white;
}

.navbar-nav{
   font-size: 1.5rem;
}

.orange{
    color:#ed714b;
    font-weight: normal;
  
}

.services{
    padding-top: 40px;
    padding-bottom: 40px;
}

.white{
    color:white;
    font-weight: normal;
}

.jumbotron{
    text-align: center;
    margin-bottom: 0;
}

.icon{
  height: 45px;
  margin-right: 5px;
}

.gallery{
    padding: 10px;
}

.text{
    width: 50%;
}

.listy{
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-collapse: separate; 
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer{
    margin-top:20px;
    color: white;
    background: #241E1E;
    height: 5em;
}

.rbq{
    margin-top:20px;
    display: inline-block;
}

.contact{
    float: right;
    display: inline-block;
}

.centered{
    text-align: center;
}

#orangeButton{
    text-transform: uppercase;
    font-weight: 700;
    background: #F0421F;
    border: #F0421F;
}

#name{
    text-transform: uppercase;
    font-family: 'Nunito';
    font-weight: bold;
}



#topTitle{
    height: 35px;
    font-size: 170%;
}

#botTitle{
    letter-spacing: 2px;
    font-size: 100%;
}